
CompileFlags:
  CompilationDatabase: . 
  Add:
    - "-I./shared/inc"
    - "--target=arm-none-eabi"
    - "--gcc-toolchain=/usr"
    - "--sysroot=/usr/arm-none-eabi"
    - "-DSTM32F4"
    - "-D__ARM_ARCH_7EM__"

